body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    border: solid red 1px;
}
body > div {
    border: solid black 1px;
}

.header {
    grid-column: 2 / 3;
}

.navigation {
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 20px 220px 100px;
    gap: 20px;
}

.dashboard, .navGrid {
    display: grid;
    grid-template-columns: 50px 100px;
    gap: 10px;
}

.dashboard > img, .navGrid > img {
    justify-self: end;
}

.navGrid {
    grid-auto-rows: 20px;
    font-size: 10px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header > div {
    margin-left: 25px;
    margin-right: 15px;
}

.input {
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 25px;
} 

.topWidgets {
    display: flex;
    justify-content: space-around;
}

